* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: rgb(77,186,167);
  background: linear-gradient(54deg, rgba(77,186,167,1) 26%, rgba(127,143,166,1) 59%);
  margin-top: 120px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

input {
  height: 1.5rem;
  border: none;
  border-radius: 5px;
}

input::placeholder {
  padding-left: 10px;
}

/* Boutton submit grisé, quand tout les check mark sont mis le submit devient vert, indiquant qu'on peut l'actionner */

#submit {
  margin-top: 1.3rem;
  height: 3rem;
  width: 6rem;
  border-radius: 10px;
  border: none;
  color: black;
  background: grey;
  padding: 5px;
}

#submit:active {
  border-radius: 40px;
}

/* boutton submit allGood */

.allGood {
  margin-top: 1.3rem;
  height: 3rem;
  width: 6rem;
  border-radius: 10px;
  border: none;
  color: white !important;
  padding: 5px;
  background: rgb(4, 156, 4) !important;
  cursor: pointer !important;
}

.success {
  color: black;
}

/* message d'erreur individuel prend l'importance de l'opacity */

.error {
  color: red;
  transition: 0.2s;
  opacity: 1 !important;
}

/* Tous les messages d'erreur sont invisibles */

.msg {
  opacity: 0;
}

/* Tous les check Mark sont invisible */

.fa-solid {
  opacity: 0;
}

/* Check mark visible */

.checkMark {
  opacity: 1 !important;
}

.fa-solid {
  font-size: 120%;
  margin-left: -42px;
}

.inputCheckMark {
  display: flex;
  align-items: center;
  gap: 20px;
}

input {
  padding-left: 10px;
  width: 220px;
}
